@use 'ui/assets/styles/utils/mixins.scss';

.image-viewer {

  &__image {
    @include mixins.full-center;
    z-index: -2;
    width: 100%;
    height: auto;
    max-width: 57rem;
    color: transparent;
    pointer-events: none;
  }

  &__remove {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
    margin: 1rem;
    font-size: 2rem;
    background-color: white;
    border-radius: 50%;
    pointer-events: auto;
    cursor: pointer;
  }

  &__spinner {
    @include mixins.full-center;
    z-index: 1;
  }

  &__canvas {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 100%;
    border: none;
    transform: translate(-50%, -50%) scaleX(-1);

    canvas {
      width: 100%;
    }
  }
}
