.color-tool {
  display: inline;
  pointer-events: auto;

  &__swatches {
    display: inline-flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }

  li {
    $size: 1rem;
    width: $size;
    height: $size;
    display: inline-block;
    border-radius: 50%;
  }
}
