.mobile-camera {
  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -2;
    width: 100%;
    height: auto;
    color: transparent;
    pointer-events: none;
    transform: translate(-50%, -50%);
  }

  &__spinner {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
  }

  &__remove {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
    margin: 1rem;
    font-size: 2rem;
    background-color: white;
    border-radius: 50%;
    pointer-events: auto;
    cursor: pointer;
  }
}
