.photo-video {
  position: fixed;
  bottom: 1rem;
  width: 19rem;
  height: auto;
  overflow: hidden;
  border-radius: 1rem;
  animation: appear 1s;

  video {
    width: 100%;
    height: auto;
    transform: scaleX(-1);
  }

  .icon-cross {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    margin: 1rem;
    font-size: 2rem;
    background-color: white;
    border-radius: 50%;
  }
}

