.tools {
  &-wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    font-size: 1.9rem;
    pointer-events: none;

    span {
      pointer-events: auto;
      cursor: pointer;
    }
  }

  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  padding-left: 0;
  pointer-events: none;

  & > * {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    pointer-events: auto;
    cursor: pointer;
  }
}
