.tools {
  &-wrapper {
    position: relative;
    z-index: 1;
    display: inline-flex;
    flex-direction: column;
    font-size: 1.3rem;
    pointer-events: none;
    transition: opacity 150ms ease-in-out;
    animation: appear 1s;

    span {
      pointer-events: auto;
      cursor: pointer;
    }
  }

  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  padding-left: 0;
  pointer-events: none;

  & > * {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: auto;
    cursor: pointer;

    &:first-child {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }

    &:last-child {
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }

    &:hover:not(.not-hover),
    &:active:not(.not-hover) {
      color: #4992a9;
    }

    @media (hover: none) {
      &:hover {
        color: #2c3e50;
        animation: touch-hover 500ms;
      }
    }
  }
}

@keyframes touch-hover {
  0% { color: #2c3e50; }
  50% { color: #4992a9; }
  100% { color: #2c3e50; }
}

@keyframes appear {
  0% {
    opacity: 0;
    left: -10rem;
  }

  50% {
    left: 5%;
  }

  90% {
    opacity: 1;
  }

  100% { left: 0%; }
}
