* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  color: #2c3e50;
  height: 100%;
}

button,
input {
  position: relative;
  z-index: 1;
}
